@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  font-family: 'nunito', sans-serif;
}

body {
  background: theme('colors.gray.900');
  font-family: 'nunito', sans-serif;
}

.display {
  background-color: dimgray;
}

